extends layout

block content
  h1= title
  p Welcome to #{title}

  table.table.table-bordered.table-hover
    caption User Info
    thead.thead-light
      tr
        th(scope='col') Link
        th(scope='col') Description
    tbody
      tr
        td 
          a(href='/dataSources') Data Sources
        td Lists all data sources that are visible to the developer, using the OAuth scopes provided.
      tr
        td  
          a(href='/session') Session
        td Lists sessions previously created
      tr
        td  
          a(href='/aggregate-example') Aggregate Example
        td Aggregates data of a certain type or stream into buckets divided by a given type of boundary.

  table.table.table-bordered.table-hover
      caption Measure Info
      thead.thead-light
        tr
          th(scope='col') Link
          th(scope='col') Description
      tbody
        tr
          td 
            a(href='/step') Steps
          td Using aggregate, list all steps by start/end date
        tr
          td 
            a(href='/heart-rate') Heart Rate
          td TO-DO